@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi+2:400,500,600,700,800&display=swap');

:root {
    --primary-color: #F84139;
}

/* OPEN Useful classes */

.font-logo {font-family: 'Baloo Thambi 2', cursive;}
.font-thin {font-weight: lighter;}
.font-regular {font-weight: normal;}
.font-bold {font-weight: bold;}
.font-bolder {font-weight: bolder;}
.bg-light-red { background-color: var(--primary-color);}
.bg-white { background-color: white;}
.round-img {border-radius: 50%;}

/* CLOSE Useful classes */


body {
    font-family: 'Roboto', sans-serif;
  }

 /* OPEN Hero Banner */ 
.hero {
    display: flex;
    background-image: url('../img//logo-black.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    width: 100%;
    height: 100vh;
    color: white;
    font-size: 7vw;
}

.hero h1 {
    text-align: center;
    margin: auto;
}

 /* CLOSE Hero Banner */ 

 /* OPEN Main Top Navigation  */ 
.main-nav {
    /* border: solid; */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    height: 3rem;
    align-items: center;
    justify-content: space-between;
    padding: .25rem 0;
}

.main-nav .logo {
    height: 100%;
    display: flex;
    align-items: center;
}

.main-nav .logo img{
    /* width: 100%; */
    height: 100%;
    margin-left: 1rem;
    filter: invert(43%) sepia(74%) saturate(3994%) hue-rotate(338deg) brightness(100%) contrast(104%);
}

.main-nav .logo span {
    font-size: 1.75rem;
    margin-left: .25rem;

}

.main-nav .nav-list {
    display: flex;
    font-size: 1.25rem;
    height: 100%;
}

.main-nav .nav-list li {
    display: flex;
    font-size: 1.25rem;
    margin: 0 1rem;
    height: 100%;

}

.main-nav .nav-list li a{
    padding: 0 1rem;
    display: flex;
    align-items: center;
    font: inherit;
    text-decoration: none;
    height: 100%;
    color: #111;
}    

.main-nav .nav-list li a:hover{
background-color: var(--primary-color);
border-radius: .5rem;
color: white;
}


 /* CLOSE Main Top Navigation  */ 
 
 /* OPEN Section and Content Default  */ 

.section {
    margin: 3rem 2rem;
}

.content {
    display: flex;
}

.content p{
    flex-grow: 1;
}

.content .side-img{
    width: 100%;
    flex-grow: 1;
}

 /* CLOSE Section and Content Default  */ 